/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

:root {
    --header-height: 3rem;
    --font-medium: 500;
}


:root {
    --first-color: #ddddddb1;
    --white-color: #252424;
    --background-color: #ffffffc9;
    --dark-color: #313131;
    --text-color: #363636;
    --text-color-light: #ffffffc9;
}


:root {


    --big-font-size: 4rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

}

@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 9rem;
        --h2-font-size: 2.5rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }


}

p {

    font-family: 'Montserrat', sans-serif;
}

span {

    font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 1600px) {
    .kategorije {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-left: 10em !important;
        margin-right: 10em !important;
        margin-bottom: 5em;

    }

}

.logo {
    margin-top: 0.5rem;
    margin-left: 1rem;
    position: absolute;

}


.kategorije {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 5em;
}

.kategorija {
    overflow: hidden !important;
}

.img__container {
    overflow: hidden !important;
}

.kategorija img {
    transition: 0.5s all ease-in-out;

}

:root {
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
}

:root {
    --z-fixed: 100;
}


*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}

body {
    margin: var(--header-height) 0 0 0;
    /* font-family: 'Bakbak One', sans-serif; */
    font-family: 'Permanent Marker', cursive;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    line-height: 1.6;
    background-color: var(--background-color) !important
}

h1,
h2,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}


.section {
    padding: 3rem 0;
}


.kategorije_container {
    display: flex;
    gap: 1em;

    margin-left: 15em;
    margin-right: 15em;
}


.kategorija {

    margin-top: 2em;
    font-display: flex;
    background-color: var(--first-color);

    padding: 0 !important;
    border-radius: 10px;

}

.slika_kategorije {
    width: 500px;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 10px 0 0 10px;
    box-shadow: 5px 0 5px -2px #888888bb;
}

.opis {
    z-index: 9 !important;
}

.opis p {

    display: block;
    text-align: start !important;
    padding-right: 1em;
    padding-left: 1em;
    font-family: 'Montserrat', sans-serif;
    color: rgb(76, 76, 76);

    font-size: 21px;
    font-weight: 300;

}

.opis h1 {
    margin-bottom: 1em;
    padding-top: 1rem;

    text-align: center;

}

.section-title {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--white-color);
    margin: var(--mb-4) 0;
    text-align: center;


}

.section-title::after {
    position: absolute;
    content: "";
    width: 32px;
    height: .18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--white-color);
}


.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.bd-grid2 {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 2rem);
    margin-left: auto;
    margin-right: auto;

}


.portfolio__container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;

}

.item {
    overflow: hidden;

}

.item img :hover {
    transition: 200ms;
    transform: scale(1.05);

}


.bd-grid2 {

    display: flex;

    align-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

}

.portfolio__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color);

}


.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}



@keyframes bgChange1 {
    0% {
        background-image: url("../img/banner/banner-phone/banner-mobile1.webp");

    }
    15% {
        background-image: url("../img/banner/banner-phone/banner-mobile1.webp");

    }
    30% {
        background-image: url("../img/banner/banner-phone/banner-mobile2.webp");

    }
    45% {
        background-image: url("../img/banner/banner-phone/banner-mobile2.webp");

    }
    60% {
        background-image: url("../img/banner/banner-phone/banner-mobile3.webp");
    }

    75% {
        background-image: url("../img/banner/banner-phone/banner-mobile3.webp");;
    }

    90% {
        background-image: url("../img/banner/banner-phone/banner-mobile4.webp");

    }

    100% {
        background-image: url("../img/banner/banner-phone/banner-mobile4.webp");

    }

}


@media screen and (max-width: 768px) {

    .home__container {
        /* height: calc(100vh - var(--header-height)); */
        height: 100dvh !important;
        row-gap: 5rem;
    }


    .home {
        background-image: url("../img/banner/banner-phone/banner-mobile1.webp");
        animation: bgChange1 40s infinite !important;
        width:100vw !important;
        height: auto !important;
    }
    
    
    .home__title {
        font-size: 4em !important;
        margin-top: 35vh !important;
        
    }




    .contact__container {
        text-align: center;
    }


    .slika_kategorije {
        width: 100%;
        border-radius: 10px 10px 0 0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .kategorija {
        padding-bottom: 1em !important;

    }

    .noM {
        font-size: 18px !important;

    }

    .detalji {
        text-align: center !important;

    }

    .nav__menu {
        position: fixed;
        top: 550%;
        right: 100%;
        width: 90%;
        height: 30rem;
        padding: 3rem;
        background-color: rgba(255, 255, 255, 0.856);
        border-radius: 10px;
        ;
        transition: .6s;
        backdrop-filter: blur(15px);

    }

    .opis p {
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 1em;
        font-size: large;
    }

    .footer__container {
        text-align: center;
    }

}

#nav-menu {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#nav-menu1 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}


.nav__item {
    margin-bottom: var(--mb-4);
}

.nav__link {
    /* font-family: 'Bakbak One', sans-serif; */
    font-family: 'Permanent Marker', cursive;
    position: relative;


}

.nav__link:hover {
    color: rgb(255, 255, 255) !important;

}

.nav__logo {
    color: var(--white-color);
}

.nav__toggle {
    color: var(--white-color);
    font-size: 1.5rem;
    cursor: pointer;
}


.show {
    right: 0;


}



.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: .18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}




.home {
    position: relative;
    background-image: url("../img/banner/banner-1.webp");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden;
    animation: bgChange 40s infinite;
    object-fit: contain;
}

@keyframes bgChange {
    0% {
        background-image: url("../img/banner/banner-1.webp");

    }

    10% {
        background-image: url("../img/banner/banner-1.webp");

    }

    20% {
        background-image: url("../img/banner/banner-2.webp");

    }

    30% {
        background-image: url("../img/banner/banner-2.webp");

    }

    40% {
        background-image: url("../img/banner/banner-3.webp");

    }

    50% {
        background-image: url("../img/banner/banner-3.webp");

    }

    60% {
        background-image: url("../img/banner/banner-4.webp");

    }

    70% {
        background-image: url("../img/banner/banner-4.webp");

    }

    80% {
        background-image: url("../img/banner/banner-5.webp");

    }

    90% {
        background-image: url("../img/banner/banner-5.webp");

    }
}




.home__title {
    align-self: center;
    font-size: 7em;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
    text-align: center;


}



.home__scroll {
    position: relative;
    
    margin-left: auto;
    margin-right: auto;
    align-self: flex-end;
    padding-bottom: 10vh;
}

.home__scroll-link {

    color: var(--background-color);
}

.home__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 295px;
    object-fit: contain;
}


#about {
    background-color: var(--first-color);
}

.about__container {
    justify-items: center;
    row-gap: 2rem;
    text-align: start;
    margin-bottom: 0px !important;

}

.about__img {
    display: flex;
    justify-content: center;

    width: 200px;
    height: auto;

    border-radius: 50%;
    overflow: hidden;
}

.about__img img {
    width: 100%;
}

.about__subtitle {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: var(--mb-1);
    /* color: rgba(28, 28, 28, 0.848); */
    font-size: 28px;


}

.about__subtitle span {
    font-family: 'Montserrat', sans-serif;
}


.noM {
    margin-bottom: 0.5em !important;
    font-family: 'Montserrat', sans-serif;
    color: rgba(28, 28, 28, 0.848);
    font-size: 25px;
    text-align: center;
    padding-top: 1rem;

}

.detalji {
    text-align: start;
}

.about__profession {
    display: block;
    margin-bottom: var(--mb-4);
    font-family: 'Montserrat', sans-serif;
    color: rgba(28, 28, 28, 0.848);



    font-weight: bold;
}

.about__profession span {
    font-size: 30px;
    color: rgba(6, 6, 6, 0.848);

}

.about__social {
    padding-top: 2em;



}

.about__social-icon {
    color: rgba(48, 48, 48, 0.64);
    font-size: 1.6rem;
    margin: 0 var(--mb-1);
}

.about__social-icon:hover {
    color: white;
}


.portfolio {
    background-color: var(--dark-color);
}


.portfolio__img {

    position: relative;
    overflow: hidden;

}

.portfolio__img img {
    border-radius: .4rem;
}


#contact {
    background-color: var(--first-color);
}

.contact__container {
    row-gap: 2rem;
}

.contact__subtitle {
    font-size: var(--normal-font-size);
    color: var(--dark-color);
}

.contact__text {
    display: inline-block;
    margin-bottom: var(--mb-2);
}

.contact__inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}

.contact__input {
    width: 100%;
    padding: .8rem;
    outline: none;
    border: 1.5px solid var(--dark-color);
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-4);
    border-radius: .5rem;
}

.contact__button {
    display: block;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: .75rem 2.5rem;
    margin-left: auto;
    border-radius: .5rem;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
}


.footer {
    background-color: var(--dark-color);
    color: var(--text-color-light) !important;
}

.footer__container {
    row-gap: 2rem;
}

.footer__title {
    font-size: larger;
    color: rgb(240, 240, 240);
    margin-bottom: var(--mb-2);
    font-weight: 400;
}

.footer__link {
    padding: .25rem 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color-light) !important;
}

.footer__link:hover {
    color: white !important;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.284);
}

.footer__social {
    font-size: 1.4rem;
    margin-right: var(--mb-1);
    color: var(--text-color-light) !important;
}

.footer__social:hover {
    color: white !important;
}


@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .noM {
        padding-top: 1rem;
        text-align: start;
    }

    .section {
        padding-top: 4rem;
    }

    .section-title {
        margin-bottom: 3rem;
    }


    




    .section-title::after {
        width: 64px;
        top: 3rem;
    }

    .kategorija:hover img {
        transform: scale(1.1);

    }

    .kategorija:hover {

        color: rgb(0, 0, 0) !important;
    }

    .nav {
        height: calc(var(--header-height) + 1rem);
    }

    .nav__list {
        display: flex;
    }

    .nav__item {
        margin-left: var(--mb-4);
        margin-bottom: 0;
    }

    .nav__toggle {
        display: none;
    }

    .nav__link {
        /* color: var(--white-color); */
        font-size: large;
        font-weight: 400;
        
        

    }

    .nav__link:hover {
        color: var(--white-color);
    }

    .active::after {
        background-color: var(--white-color);
    }

    .home__container {
        height: 100vh !important;
        grid-template-rows: 1.7fr 1fr;
        row-gap: 0;
    }

    .home__img {
        width: 524px;
        right: 10%;
    }

    .about__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;
        padding: 4rem 0;
    }

    .about__img {
        width: 400px;
        height: 400px;
    }

    .about__img img {
        width: 400px;
    }

    .skills__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .contact__container {
        justify-items: center;
        text-align: center;
    }

    .contact__form {
        width: 380px;
    }

    .footer__container {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}

@media screen and (min-width: 1024px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}